<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Login</title>
    <script type="text/javascript" src="js/jquery-3.2.1.min.js"></script>
    <link rel="stylesheet" th:href="@{js/bootstrap/css/bootstrap.min.css}"
          href="../../js/bootstrap/css/bootstrap.min.css" />
    <script type="text/javascript"
            src="js/bootstrap/js/bootstrap.min.js"></script>
</head>
<body onload="document.f.username.focus();">
<div class="container">
    <div class="navbar">
        <div class="navbar-inner">
            <ul class="nav">
                <li><a th:href="@{/}" href="index.html"> Pocetna </a></li>
                <li><a th:href="@{/registration}" href="registration.html"> Registruj se </a></li>
                <li><a th:href="@{/resetPasswordInit}" href="resetpassword.html"> Resetuj lozinku</a></li>
                <li><a th:href="@{/login}" href="login.html"> Uloguj se </a></li>
            </ul>
        </div>
    </div>
    <div class="content">
        <p th:if="${param.logout}" class="alert">You have been logged out</p>
        <p th:if="${param.error}" class="alert alert-error">Kredencijali nisu validni, pokusajte ponovo.</p>
        <h2>Login with Username and Password</h2>
        <form name="form" th:action="@{/login}" action="/login" method="POST">
            <fieldset>
                <input type="text" name="username" value="" placeholder="Username" required />
                <input type="password" name="password" placeholder="Password" required/>
            </fieldset>
            <input type="submit" id="login" value="Login"
                   class="btn btn-primary" />
        </form>
    </div>
</div>
</body>
</html>